.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 50%;
    left: 40%;
    width: 400px;
    height: 200px;
    border: 2px solid cadetblue;
    border-radius: 20px;
    background-color: gainsboro;
}

h1 {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 2px solid cadetblue;
    border-radius: 20px;
}

.button-container Button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
}

.button-container Button:nth-child(1n) {
    margin-left: 15px;
}

.value-container {
    width: 350px;
    height: 110px;
    border: 2px solid cadetblue;
    border-radius: 20px;
    margin: 10px;
}